# Zależności (Dependencies)
node_modules/
jspm_packages/

# Dane środowiskowe (Security/Secrets)
# To najważniejsza sekcja - tu trzymasz klucze do bazy i OAuth
.env
.env.test
.env.local
.env.*.local

# Logi
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Dane bazy (jeśli trzymasz je lokalnie w folderze)
data/db/

# IDE / Edytory
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Systemowe
.DS_Store
Thumbs.db
